Repository flow-typed/flow-typed, changes with the owners that CODEOWNERS names for each.
All owners: @LoganBarnett, @reyronald, @GAntoine, @jedwards1211, @thymikee, @rasmusprentow, @bwlt, @budde377, @Ashoat

CODEOWNERS:

/definitions/npm/angular_v1*/**/* @LoganBarnett

/definitions/npm/antd_*/**/* @reyronald

/definitions/npm/element-ready_*/**/* @reyronald

/definitions/npm/fuzzaldrin-plus_*/**/* @reyronald

/definitions/npm/ignore_*/**/* @reyronald

/definitions/npm/p-cancelable_*/**/* @reyronald

/definitions/npm/papaparse_*/**/* @GAntoine

/definitions/npm/ramda_*/**/* @LoganBarnett

/definitions/npm/react-apollo_*/**/* @jedwards1211 @thymikee @rasmusprentow @bwlt @budde377

/definitions/npm/@react-navigation @Ashoat
/definitions/npm/react-navigation_*/**/* @Ashoat

/definitions/npm/redux-oidc_*/**/* @LoganBarnett

/definitions/npm/sequelize_*/**/* @jedwards1211

[luxon_v1.9.x] Export types (#3971)
  definitions/npm/luxon_v1.9.x/flow_v0.104.x-/luxon_v1.9.x.js
Owners: none

Add definitions
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder/flow_v0.92.x-/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x.js
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder/test_@ginkgo-bioworks/react-json-schema-form-builder.js
Owners: none

Add definitions
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/flow_v0.30.x-v0.103.x/react-json-schema-form-builder_v1.x.x.js
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/test_react-json-schema-form-builder_v1.x.x.js
Owners: none

Fix #3343: Locate modules with Yarn PnP in PnP projects (#3963)
  cli/src/commands/__tests__/install-test.js
  cli/src/commands/create-stub.js
  cli/src/commands/install.js
  cli/src/lib/npm/npmProjectUtils.js
  cli/src/lib/stubUtils.js
Owners: none

[jasmine_3.x.x] New defintions based on v2.4.x
  definitions/npm/jasmine_v2.4.x/flow_v0.25.x-v0.103.x/jasmine_v2.4.x.js
  definitions/npm/jasmine_v2.4.x/test_jasmine_v2.4.x_describe.js
  definitions/npm/jasmine_v2.4.x/test_jasmine_v2.4.x_it.js
  definitions/npm/jasmine_v3.x.x/flow_v0.125.x-/jasmine_v3.x.x.js
  definitions/npm/jasmine_v3.x.x/test_addMatchers.js
  definitions/npm/jasmine_v3.x.x/test_describe.js
  definitions/npm/jasmine_v3.x.x/test_fail.js
  definitions/npm/jasmine_v3.x.x/test_hooks.js
  definitions/npm/jasmine_v3.x.x/test_it.js
  definitions/npm/jasmine_v3.x.x/test_jasmine.js
  definitions/npm/jasmine_v3.x.x/test_pending.js
  definitions/npm/jasmine_v3.x.x/test_spies.js
Owners: none

[jasmine_3.x.x] Fill in some gaps in libdefs
  definitions/npm/jasmine_v3.x.x/flow_v0.125.x-/jasmine_v3.x.x.js
  definitions/npm/jasmine_v3.x.x/test_spies.js
Owners: none

fixup! [jasmine_3.x.x] New defintions based on v2.4.x
  definitions/npm/jasmine_v2.4.x/flow_v0.104.x-/jasmine_v2.4.x.js
  definitions/npm/jasmine_v2.4.x/flow_v0.25.x-v0.103.x/jasmine_v2.4.x.js
  definitions/npm/jasmine_v2.4.x/test_jasmine_v2.4.x.js
  definitions/npm/jasmine_v2.4.x/test_jasmine_v2.4.x_addMatchers.js
  definitions/npm/jasmine_v2.4.x/test_jasmine_v2.4.x_describe.js
  definitions/npm/jasmine_v2.4.x/test_jasmine_v2.4.x_fail.js
  definitions/npm/jasmine_v2.4.x/test_jasmine_v2.4.x_hooks.js
  definitions/npm/jasmine_v2.4.x/test_jasmine_v2.4.x_it.js
  definitions/npm/jasmine_v2.4.x/test_jasmine_v2.4.x_pending.js
  definitions/npm/jasmine_v2.4.x/test_jasmine_v2.4.x_spies.js
Owners: none

PR fixes
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/flow_v0.92.x-/react-json-schema-form-builder_v1.x.x.js
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/test_react-json-schema-form-builder_v1.x.x.js
Owners: none

fix koa-views
  definitions/npm/koa-views_v6.x.x/flow_v0.104.x-/koa-views_v6.x.x.js
  definitions/npm/koa-views_v6.x.x/flow_v0.104.x-/test_koa-views_v6.x.x.js
  definitions/npm/koa-views_v6.x.x/flow_v0.56.x-v0.103.x/koa-views_v6.x.x.js
  definitions/npm/koa-views_v6.x.x/flow_v0.56.x-v0.103.x/test_koa-views_v6.x.x.js
Owners: none

update context to any
  definitions/npm/koa-views_v6.x.x/flow_v0.104.x-/koa-views_v6.x.x.js
  definitions/npm/koa-views_v6.x.x/flow_v0.56.x-v0.103.x/koa-views_v6.x.x.js
Owners: none

fixup! [jasmine_3.x.x] New defintions based on v2.4.x
  definitions/npm/jasmine_v3.x.x/flow_v0.125.x-/jasmine_v3.x.x.js
Owners: none

[jasmine_v3.x.x] Add definitions (#3975)
  definitions/npm/jasmine_v3.x.x/flow_v0.125.x-/jasmine_v3.x.x.js
  definitions/npm/jasmine_v3.x.x/test_addMatchers.js
  definitions/npm/jasmine_v3.x.x/test_describe.js
  definitions/npm/jasmine_v3.x.x/test_fail.js
  definitions/npm/jasmine_v3.x.x/test_hooks.js
  definitions/npm/jasmine_v3.x.x/test_it.js
  definitions/npm/jasmine_v3.x.x/test_jasmine.js
  definitions/npm/jasmine_v3.x.x/test_pending.js
  definitions/npm/jasmine_v3.x.x/test_spies.js
Owners: none

[@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x] Add definitions (#3974)
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/flow_v0.92.x-/react-json-schema-form-builder_v1.x.x.js
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/test_react-json-schema-form-builder_v1.x.x.js
Owners: none

[react-navigation] Replace $Shape with $Rest<T, {...}>
  definitions/npm/@react-navigation/bottom-tabs_v5.x.x/flow_v0.104.x-/bottom-tabs_v5.x.x.js
  definitions/npm/@react-navigation/core_v5.x.x/flow_v0.104.x-/core_v5.x.x.js
  definitions/npm/@react-navigation/devtools_v5.x.x/flow_v0.104.x-/devtools_v5.x.x.js
  definitions/npm/@react-navigation/drawer_v5.x.x/flow_v0.104.x-/drawer_v5.x.x.js
  definitions/npm/@react-navigation/material-bottom-tabs_v5.x.x/flow_v0.104.x-/material-bottom-tabs_v5.x.x.js
  definitions/npm/@react-navigation/material-top-tabs_v5.x.x/flow_v0.104.x-/material-top-tabs_v5.x.x.js
  definitions/npm/@react-navigation/native_v5.x.x/flow_v0.104.x-/native_v5.x.x.js
  definitions/npm/@react-navigation/stack_v5.x.x/flow_v0.104.x-/stack_v5.x.x.js
Owners: @Ashoat

Add $ReadOnly
  definitions/npm/@react-navigation/bottom-tabs_v5.x.x/flow_v0.104.x-/bottom-tabs_v5.x.x.js
  definitions/npm/@react-navigation/core_v5.x.x/flow_v0.104.x-/core_v5.x.x.js
  definitions/npm/@react-navigation/devtools_v5.x.x/flow_v0.104.x-/devtools_v5.x.x.js
  definitions/npm/@react-navigation/drawer_v5.x.x/flow_v0.104.x-/drawer_v5.x.x.js
  definitions/npm/@react-navigation/material-bottom-tabs_v5.x.x/flow_v0.104.x-/material-bottom-tabs_v5.x.x.js
  definitions/npm/@react-navigation/material-top-tabs_v5.x.x/flow_v0.104.x-/material-top-tabs_v5.x.x.js
  definitions/npm/@react-navigation/native_v5.x.x/flow_v0.104.x-/native_v5.x.x.js
  definitions/npm/@react-navigation/stack_v5.x.x/flow_v0.104.x-/stack_v5.x.x.js
Owners: @Ashoat

bugfix/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/flow_v0.92.x-/react-json-schema-form-builder_v1.x.x.js
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/test_react-json-schema-form-builder_v1.x.x.js
Owners: none

add render to ctx object
  definitions/npm/koa_v2.x.x/flow_v0.104.x-/koa_v2.x.x.js
Owners: none

[@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x] Bugfixes (#3978)
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/flow_v0.92.x-/react-json-schema-form-builder_v1.x.x.js
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/test_react-json-schema-form-builder_v1.x.x.js
Owners: none

bugfix/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/test_react-json-schema-form-builder_v1.x.x.js
Owners: none

feat: create sequelize 5/6 defs
  definitions/npm/sequelize_v5.x.x/CONTRIBUTING.md
  definitions/npm/sequelize_v5.x.x/flow_v0.104.x-/sequelize_v5.x.x.js
  definitions/npm/sequelize_v5.x.x/flow_v0.104.x-/test_sequelize.js
  definitions/npm/sequelize_v5.x.x/flow_v0.42.x-v0.103.x/sequelize_v5.x.x.js
  definitions/npm/sequelize_v5.x.x/flow_v0.42.x-v0.103.x/test_sequelize.js
  definitions/npm/sequelize_v6.x.x/CONTRIBUTING.md
  definitions/npm/sequelize_v6.x.x/flow_v0.104.x-/sequelize_v6.x.x.js
  definitions/npm/sequelize_v6.x.x/flow_v0.104.x-/test_sequelize.js
  definitions/npm/sequelize_v6.x.x/flow_v0.42.x-v0.103.x/sequelize_v6.x.x.js
  definitions/npm/sequelize_v6.x.x/flow_v0.42.x-v0.103.x/test_sequelize.js
Owners: @jedwards1211

[koa-views] Fix the export (#3976)
  definitions/npm/koa-views_v6.x.x/flow_v0.104.x-/koa-views_v6.x.x.js
  definitions/npm/koa-views_v6.x.x/flow_v0.104.x-/test_koa-views_v6.x.x.js
  definitions/npm/koa-views_v6.x.x/flow_v0.56.x-v0.103.x/koa-views_v6.x.x.js
  definitions/npm/koa-views_v6.x.x/flow_v0.56.x-v0.103.x/test_koa-views_v6.x.x.js
Owners: none

bugfix/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x (#3980)
  definitions/npm/@ginkgo-bioworks/react-json-schema-form-builder_v1.x.x/test_react-json-schema-form-builder_v1.x.x.js
Owners: none

fix(sequelize): convert more of the official TS defs for v6
  definitions/npm/sequelize_v6.x.x/flow_v0.104.x-/sequelize_v6.x.x.js
  definitions/npm/sequelize_v6.x.x/flow_v0.42.x-v0.103.x/test_sequelize.js
  definitions/npm/sequelize_v6.x.x/flow_v0.80.x-/sequelize_v6.x.x.js
  definitions/npm/sequelize_v6.x.x/flow_v0.80.x-/test_sequelize.js
Owners: @jedwards1211

fix(sequelize_v6): rewrite data types
  definitions/npm/sequelize_v6.x.x/flow_v0.80.x-/sequelize_v6.x.x.js
  definitions/npm/sequelize_v6.x.x/flow_v0.80.x-/test_sequelize.js
Owners: @jedwards1211

fix(sequelize_v6): add missing sequelize option to Model.init
  definitions/npm/sequelize_v6.x.x/flow_v0.80.x-/sequelize_v6.x.x.js
Owners: @jedwards1211

Update cors_v3.x.x.js
  definitions/npm/@koa/cors_v3.x.x/flow_v0.53.x-/cors_v3.x.x.js
Owners: none

add padstart def
  definitions/npm/lodash.padstart_v4.x.x/flow_v0.83.x-/lodash.padstart_v4.x.x.js
  definitions/npm/lodash.padstart_v4.x.x/flow_v0.83.x-/test_lodash.padstart_v4.x.x.js
Owners: none

fix declare syntax
  definitions/npm/lodash.padstart_v4.x.x/flow_v0.83.x-/lodash.padstart_v4.x.x.js
Owners: none

Add flow-typed definitions for match-sorter_v5.x.x
  definitions/npm/match-sorter_v5.x.x/flow_v0.104.x-/match-sorter_v5.x.x.js
  definitions/npm/match-sorter_v5.x.x/test_match-sorter-v5.x.x.js
Owners: none

Add definitions for luxon_v1.25.x
  definitions/npm/luxon_v1.25.x/flow_v0.104.x-/luxon_v1.25.x.js
  definitions/npm/luxon_v1.25.x/flow_v0.104.x-/test_luxon.js
Owners: none

Fix test errors and warnings in match-sorter_v5.x.x
  definitions/npm/match-sorter_v5.x.x/flow_v0.104.x-/match-sorter_v5.x.x.js
  definitions/npm/match-sorter_v5.x.x/test_match-sorter-v5.x.x.js
Owners: none

[luxon_v1.25.x] Add definitions (#3986)
  definitions/npm/luxon_v1.25.x/flow_v0.104.x-/luxon_v1.25.x.js
  definitions/npm/luxon_v1.25.x/flow_v0.104.x-/test_luxon.js
Owners: none

[@koa/cors_v3.x.x.js] Use commonjs export (#3983)
  definitions/npm/@koa/cors_v3.x.x/flow_v0.53.x-/cors_v3.x.x.js
Owners: none

[koa_v2.x.x] Add render function to ctx (#3979)
  definitions/npm/koa_v2.x.x/flow_v0.104.x-/koa_v2.x.x.js
Owners: none

Don't use global types for match-sorter_v5.x.x
  definitions/npm/match-sorter_v5.x.x/flow_v0.104.x-/match-sorter_v5.x.x.js
Owners: none

update all css properties to match ts types
  definitions/npm/aphrodite_v2.x.x/flow_v0.83.x-/aphrodite_v2.x.x.js
Owners: none

[match-sorter_v5.x.x] Add definitions (#3985)
  definitions/npm/match-sorter_v5.x.x/flow_v0.104.x-/match-sorter_v5.x.x.js
  definitions/npm/match-sorter_v5.x.x/test_match-sorter-v5.x.x.js
Owners: none

add defs
  definitions/npm/body-scroll-lock_v3.x.x/flow_v0.83.x-/body-scroll-lock_v3.x.x.js
  definitions/npm/body-scroll-lock_v3.x.x/flow_v0.83.x-/test_body-scroll-lock_v3.x.x.js
Owners: none

add options
  definitions/npm/body-scroll-lock_v3.x.x/flow_v0.83.x-/body-scroll-lock_v3.x.x.js
  definitions/npm/body-scroll-lock_v3.x.x/flow_v0.83.x-/test_body-scroll-lock_v3.x.x.js
Owners: none

[body-scroll-lock] Add definition (#3989)
  definitions/npm/body-scroll-lock_v3.x.x/flow_v0.83.x-/body-scroll-lock_v3.x.x.js
  definitions/npm/body-scroll-lock_v3.x.x/flow_v0.83.x-/test_body-scroll-lock_v3.x.x.js
Owners: none
